<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyh.job.dao.mapper.CountryMapper" >
  <resultMap id="BaseResultMap" type="com.yyh.job.dao.model.Country" >
    <id column="_id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="country_id" property="countryId" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    _id, `name`, country_id, city_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from country
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from country
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyh.job.dao.model.Country" >
    insert into country (_id, `name`, country_id, 
      city_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{countryId,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.job.dao.model.Country" >
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        #{countryId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.job.dao.model.Country" >
    update country
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        country_id = #{countryId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.job.dao.model.Country" >
    update country
    set `name` = #{name,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR}
    where _id = #{id,jdbcType=INTEGER}
  </update>
</mapper>