<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyh.job.dao.mapper.JobSecondMapper" >
  <resultMap id="BaseResultMap" type="com.yyh.job.dao.model.JobSecond" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="first_id" property="firstId" jdbcType="VARCHAR" />
    <result column="second_id" property="secondId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`, first_id, second_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_job_second_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_job_second_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyh.job.dao.model.JobSecond" >
    insert into tbl_job_second_category (id, `name`, first_id, 
      second_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{firstId,jdbcType=VARCHAR}, 
      #{secondId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.job.dao.model.JobSecond" >
    insert into tbl_job_second_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="firstId != null" >
        first_id,
      </if>
      <if test="secondId != null" >
        second_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstId != null" >
        #{firstId,jdbcType=VARCHAR},
      </if>
      <if test="secondId != null" >
        #{secondId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.job.dao.model.JobSecond" >
    update tbl_job_second_category
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstId != null" >
        first_id = #{firstId,jdbcType=VARCHAR},
      </if>
      <if test="secondId != null" >
        second_id = #{secondId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.job.dao.model.JobSecond" >
    update tbl_job_second_category
    set `name` = #{name,jdbcType=VARCHAR},
      first_id = #{firstId,jdbcType=VARCHAR},
      second_id = #{secondId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>