<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyh.job.dao.mapper.JobSendMapper" >
  <resultMap id="BaseResultMap" type="com.yyh.job.dao.model.JobSend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="send_status" property="sendStatus" jdbcType="BIT" />
  </resultMap>
  <resultMap id="seekJobSendList" type="com.yyh.job.dto.response.job.SeekerSendListResponse">
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="send_status" property="sendStatus" jdbcType="BIT" />
    <result column="jobId" property="jobId" jdbcType="INTEGER"/>
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="work_place" property="workPlace" jdbcType="VARCHAR" />
    <result column="salary_start" property="salaryStart" jdbcType="DOUBLE" />
    <result column="salary_end" property="salaryEnd" jdbcType="DOUBLE" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, job_id, user_id, send_time, send_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_job_send
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_job_send
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyh.job.dao.model.JobSend" >
    insert into tbl_job_send (id, job_id, user_id, 
      send_time, send_status)
    values (#{id,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{sendStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.job.dao.model.JobSend" >
    insert into tbl_job_send
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.job.dao.model.JobSend" >
    update tbl_job_send
    <set >
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.job.dao.model.JobSend" >
    update tbl_job_send
    set job_id = #{jobId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      send_status = #{sendStatus,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByJobIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_job_send
    where job_id = #{jobId} and user_id = #{userId}
  </select>

  <select id="selectByUserIdAndStatus" resultMap="seekJobSendList">
    SELECT s.send_time,s.send_status,j.id as jobId,j.job_name,j.salary_start,j.salary_end,j.work_place,c.company_name,c.id as companyId
    from tbl_job_send s
    LEFT JOIN tbl_job j on s.job_id = j.id
    LEFT JOIN tbl_company c on j.company_id = c.id
    where s.user_id = #{userId} and s.send_status = #{type}
    order by s.id desc
  </select>
</mapper>