<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyh.job.dao.mapper.ProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.yyh.job.dao.model.Province" >
    <id column="_id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="firstMap" type="com.yyh.job.dto.response.regions.RegionFirstResponse">
    <result column="provinceName"  property="provinceName" jdbcType="VARCHAR"/>
    <result column="province_id"  property="provinceId" jdbcType="VARCHAR"/>
    <collection property="regionSecondResponseList" javaType="ArrayList" column="province_id"
                ofType="com.yyh.job.dto.response.regions.RegionSecondResponse" resultMap="secondMap">
    </collection>
  </resultMap>

  <resultMap id="secondMap" type="com.yyh.job.dto.response.regions.RegionSecondResponse">
    <result column="cityName"  property="cityName" jdbcType="VARCHAR"/>
    <result column="city_id"  property="cityId" jdbcType="VARCHAR"/>
    <collection property="regionThirdResponseList" javaType="ArrayList" column="city_id"
                ofType="com.yyh.job.dto.response.regions.RegionThirdResponse" resultMap="thirdMap">
    </collection>
  </resultMap>

  <resultMap id="thirdMap" type="com.yyh.job.dto.response.regions.RegionThirdResponse">
    <result column="countryName"  property="countryName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    _id, `name`, province_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from province
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from province
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyh.job.dao.model.Province" >
    insert into province (_id, `name`, province_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.job.dao.model.Province" >
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.job.dao.model.Province" >
    update province
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.job.dao.model.Province" >
    update province
    set `name` = #{name,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR}
    where _id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllProvince" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from province
  </select>

  <select id="getAllRegions" resultMap="firstMap">
    SELECT province.name as provinceName,province.province_id ,city.name as cityName,city.city_id,country.name as countryName
    FROM province
    LEFT JOIN city  on province.province_id=city.province_id
    LEFT JOIN country on city.city_id = country.city_id
  </select>
</mapper>