<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyh.job.dao.mapper.RecruiterMapper" >
  <resultMap id="BaseResultMap" type="com.yyh.job.dao.model.Recruiter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="can_update" property="canUpdate" jdbcType="BIT" />
    <result column="is_owner" property="isOwner" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>

  <resultMap id="RecruitersMap" type="com.yyh.job.dto.response.BindCompanyRecruiterResponse" >
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="user_id" property="recruiterId" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="can_update" property="canUpdate" jdbcType="BIT" />
    <result column="is_owner" property="isOwner" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, company_id, `position`, can_update, is_owner,`status`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_recruiter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_recruiter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyh.job.dao.model.Recruiter" >
    insert into tbl_recruiter (id, user_id, company_id, 
      `position`, can_update, is_owner,status
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{position,jdbcType=VARCHAR}, #{canUpdate,jdbcType=BIT}, #{isOwner,jdbcType=BIT},#{status,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.job.dao.model.Recruiter" >
    insert into tbl_recruiter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="position != null" >
        `position`,
      </if>
      <if test="canUpdate != null" >
        can_update,
      </if>
      <if test="isOwner != null" >
        is_owner,
      </if>
      <if test="status != null" >
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="canUpdate != null" >
        #{canUpdate,jdbcType=BIT},
      </if>
      <if test="isOwner != null" >
        #{isOwner,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.job.dao.model.Recruiter" >
    update tbl_recruiter
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="canUpdate != null" >
        can_update = #{canUpdate,jdbcType=BIT},
      </if>
      <if test="isOwner != null" >
        is_owner = #{isOwner,jdbcType=BIT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.job.dao.model.Recruiter" >
    update tbl_recruiter
    set user_id = #{userId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      `position` = #{position,jdbcType=VARCHAR},
      can_update = #{canUpdate,jdbcType=BIT},
      is_owner = #{isOwner,jdbcType=BIT},
      `status` = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRecruiterId" resultMap="BaseResultMap">
    select company_id
    from tbl_recruiter
    where user_id = #{recruiterId}
  </select>

  <select id="selectRecruitersByCompanyId" resultMap="RecruitersMap">
    SELECT r.user_id, r.company_id, r.`position`, r.can_update, r.is_owner,r.`status`,u.nick_name,u.email,u.phone
    FROM tbl_recruiter r
    LEFT JOIN tbl_user u  on r.user_id = u.id
    where r.company_id = #{companyId}
  </select>
</mapper>