<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyh.job.dao.mapper.ResumeExperienceMapper" >
  <resultMap id="BaseResultMap" type="com.yyh.job.dao.model.ResumeExperience" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="resume_id" property="resumeId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yyh.job.dao.model.ResumeExperience" extends="BaseResultMap" >
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResumeExperienceResponse" type="com.yyh.job.dto.response.resume.ResumeExperienceResponse" extends="ResultMapWithBLOBs">

  </resultMap>
  <sql id="Base_Column_List" >
    id, resume_id, company_name, department, `position`, job, start_time, end_time
  </sql>
  <sql id="Blob_Column_List" >
    detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_resume_experience
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_resume_experience
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyh.job.dao.model.ResumeExperience" >
    insert into tbl_resume_experience (id, resume_id, company_name, 
      department, `position`, job, 
      start_time, end_time, detail
      )
    values (#{id,jdbcType=INTEGER}, #{resumeId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR},
      #{department,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR},
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.job.dao.model.ResumeExperience" >
    insert into tbl_resume_experience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resumeId != null" >
        resume_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="position != null" >
        `position`,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resumeId != null" >
        #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.job.dao.model.ResumeExperience" >
    update tbl_resume_experience
    <set >
      <if test="resumeId != null" >
        resume_id = #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yyh.job.dao.model.ResumeExperience" >
    update tbl_resume_experience
    set resume_id = #{resumeId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.job.dao.model.ResumeExperience" >
    update tbl_resume_experience
    set resume_id = #{resumeId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into tbl_resume_experience (resume_id, company_name,
                                      department, `position`, job,
                                      start_time, end_time, detail)
    <foreach collection="list" item="item" separator=",">
      values ( #{item.resumeId,jdbcType=INTEGER}, #{item.companyName,jdbcType=VARCHAR},
      #{item.department,jdbcType=VARCHAR}, #{item.position,jdbcType=VARCHAR}, #{item.job,jdbcType=VARCHAR},
      #{item.startTime,jdbcType=VARCHAR}, #{item.endTime,jdbcType=VARCHAR}, #{item.detail,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>

  <select id="selectByResumeId" resultMap="ResumeExperienceResponse">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_resume_experience
    where resume_id = #{resumeId,jdbcType=INTEGER}
  </select>
</mapper>